<!DOCTYPE html>
<html>
<head>
    <title>Détails de l'Auteur</title>
</head>
<body>
    <h1>Détails de l'Auteur</h1>
    <img src="{{ asset(author.image) }}" alt="{{ author.username }}">
    <p><strong>Nom :</strong> {{ author.username }}</p>
    <p><strong>Email :</strong> {{ author.email }}</p>
    <p><strong>Nombre de livres :</strong> {{ author.nbbook }}</p>
    <a href="{{ path('listAuthor') }}">Retour à la liste des auteurs</a>
</body>
</html>
